// color palette
$general-background : #2F303A;

$dark-color: #202027;
$hover-ligth: #202027; 
$border-inputs: #2E3852;
$input-focus: #596da0;

$button-bck: #1762A7;
$button-hover: #2180d8;
$button-focus: #2796ff;
$accent-text:#2796ff;

$circle1: #bc3a801a;
$circle2: #3457b21a;
